.more-results-button {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 20px 0;
  border:none;
  width: 100%;
  box-shadow: 1px 1px 5px -4px #000000;
}

.more-results-button:hover {
  background-color: #F2F2F2;
}
